<form action="/save_employee" method="post">
    Enter Employee Name
    <input type="text" name="emp_name">
    <br><br>
    Enter Employee Mobile
    <input type="number" name="emp_mobile">
    <br><br>
    Enter Employee Email
    <input type="email" name="emp_email">
    <br><br>
    <button>Save Employee</button>
</form>