<form action="save_user" method="post">
    Enter User name
    <input type="text" name="user_name">
    <br><br>
    Enter User email
    <input type="email" name="user_email">
    <br><br>
    <button>Save User</button>
</form>