<h1>Add New Student</h1>
<form action="/save_student" method="post">
    Enter Name
    <input type="text" name="student_name"/>
    <br/><br/>
    Enter Mobile
    <input type="text" name="student_mobile"/>
    <br/><br/>
    Enter Email
    <input type="text" name="student_email"/>
    <br/><br/>
    <button>Save Student</button>
</form>