<h1>Done</h1>
<form action="save_info" method="post">
    Enter Name
    <input type="text" name="name"/>
    <br><br>
    Enter number
    <input type="number" name="number">
    <br><br>
    Enter Email
    <input type="email" name="email">
    <br><br>
    Enter Range
    <input type="range" name="range">
    <br><br>
    Enter password
    <input type="password" name="password">
    <br><br>
    Enter Date
    <input type="date" name="date">
    <br><br>
    Enter Radio
    <input type="radio" name="male">
    <input type="radio" name="female">
    <br><br>
    Enter Check
    <input type="checkbox" name="check">
    <br><br>
    <textarea name="text"></textarea>
    <select name="option">
        <option>opt1</option>
        <option>opt2</option>
    </select>
    <br><br>
    <button>Save Detials</button>
</form>

