<!-- Ejs Syntax -->
<!-- we Access directly with their names -->
<!-- print numbers in array using key only -->
<%=no%>

<!--  -->
<%=name%>
<%
for(i=0;i<10;i++){
    %>
    <h1>Home page</h1>
    <%
}
%>